@font-face {
  font-family: 'existencelight';
  src: url("fonts/existence-light-webfont.eot");
  src: url("fonts/existence-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/existence-light-webfont.woff2") format("woff2"), url("fonts/existence-light-webfont.woff") format("woff"), url("fonts/existence-light-webfont.ttf") format("truetype"), url("fonts/existence-light-webfont.svg#existencelight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'existencestencil_light';
  src: url("fonts/existence-stencillight-webfont.eot");
  src: url("fonts/existence-stencillight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/existence-stencillight-webfont.woff2") format("woff2"), url("fonts/existence-stencillight-webfont.woff") format("woff"), url("fonts/existence-stencillight-webfont.ttf") format("truetype"), url("fonts/existence-stencillight-webfont.svg#existencestencil_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'existenceunicase_light';
  src: url("fonts/existence-unicaselight-webfont.eot");
  src: url("fonts/existence-unicaselight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/existence-unicaselight-webfont.woff2") format("woff2"), url("fonts/existence-unicaselight-webfont.woff") format("woff"), url("fonts/existence-unicaselight-webfont.ttf") format("truetype"), url("fonts/existence-unicaselight-webfont.svg#existenceunicase_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

/* header class main :) */
.main {
  position: relative;
  padding-bottom: 13%;
  border: 2px solid #28ffae;
  width: 100%;
  background: url("images/foto1.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
}

.grid_container {
  width: 98%;
  max-width: 900px;
  border: 1px solid red;
  margin: 0 auto;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 24.9999%;
}

.col-4 {
  width: 33.3332%;
}

.col-5 {
  width: 41.6665%;
}

.col-6 {
  width: 49.9998%;
}

.col-7 {
  width: 58.3331%;
}

.col-8 {
  width: 66.6664%;
}

.col-9 {
  width: 74.9997%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.6663%;
}

.col-12 {
  width: 99.9996%;
}

.row:before,
.row:after {
  display: block;
  clear: both;
  content: "";
}

[class*='col-2'] {
  float: left;
  border: 1px solid red;
  height: 100%;
  min-height: 100px;
}

/* napisy */
.main_text {
  border: 2px solid #FFEB72;
  padding-bottom: 5%;
}

h1 {
  margin-top: 5%;
  font-size: 400%;
  color: white;
}

h2 {
  margin-top: 3%;
  font-size: 250%;
  font-family: Lato Hairline, sans-serif;
  color: white;
}

h4 {
  margin-top: 1%;
  font-size: 123%;
  font-family: Lato Hairline, sans-serif;
  color: white;
}

span {
  color: #9f449b;
}

/* span class = 'kara' fragment logo */
.kara {
  letter-spacing: 1px;
}

/* czesc z ikonami  */
#iconAbout {
  margin-top: 105%;
  width: 100%;
  position: relative;
  border: 1px solid #ff98d9;
  padding: 50%;
  height: 100%;
  background-size: 100% auto;
  background-image: url("Icons/Icon%20About%20.png");
}

#iconTeam {
  margin-top: 105%;
  width: 100%;
  border: 2px solid blue;
  padding: 50%;
  height: 100%;
  background-size: 100% auto;
  background-image: url("Icons/Icon%20%20Team.png");
}

#iconServices {
  width: 100%;
  border: 2px solid green;
  padding: 50%;
  height: 100%;
  background-size: 100% auto;
  background-image: url("Icons/Icon%20Services%20.png");
}

#iconPortfolio {
  width: 100%;
  border: 2px solid #fdff25;
  padding: 50%;
  height: 100%;
  background-size: 100% auto;
  background-image: url("Icons/Icon%20%20Portfolio.png");
}

#iconArrow1 {
  width: 10%;
  border: 2px solid #ff820e;
  margin: 0 auto;
}
#iconArrow1 img {
  width: 100%;
}

#iconBlog {
  margin-top: 105%;
  width: 100%;
  border: 2px solid #1118ff;
  padding: 50%;
  height: 100%;
  background-size: 100% auto;
  background-image: url("Icons/Icon%20%20Blog.png");
}

#iconContact {
  margin-top: 105%;
  width: 100%;
  border: 2px solid #ff0909;
  padding: 50%;
  height: 100%;
  background-size: 100% auto;
  background-image: url("Icons/Icon%20%20Contact.png");
}

/* --- Menu under header --- */
.Menu {
  border: 2px solid #ff98d9;
  padding-top: 3%;
  padding-bottom: 3%;
  background: #f9f9f9;
}

.homemenu {
  float: right;
  border: 1px solid black;
  padding-bottom: 2%;
  padding-right: 30%;
  padding-top: 1%;
  font-size: 128%;
  font-weight: bold;
  font-family: existencelight;
  color: #676767;
}

p {
  float: left;
  margin-right: 5%;
  margin-left: 5%;
  color: #676767;
}

ul li {
  display: inline-block;
  margin-left: 0%;
  color: #f9f9f9;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 95%;
}

#About {
  color: #9f449b;
}

#Home {
  color: #676767;
}

#Team {
  color: #676767;
}

#Services {
  color: #676767;
}

#Portfolio {
  color: #676767;
}

#Blog {
  color: #676767;
}

#Contact {
  color: #676767;
}

.Bhagaskara {
  color: #676767;
  font-size: 180%;
  margin-left: 160%;
  font-family: existencelight;
  font-weight: bold;
}

.underheaderkara span {
  color: #9f449b;
  letter-spacing: 1px;
  font-size: 95%;
}

.iconsLove {
  position: relative;
  padding-bottom: 10%;
  border: 2px solid #28ffae;
  width: 100%;
  background: url("images/foto2.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
}

.aboutUs {
  position: relative;
  padding-bottom: 10%;
  border: 2px solid #28ffae;
  width: 100%;
  background-color: #FFFFFF;
  background-size: cover;
  text-align: center;
}

#iconAbUs {
  width: 25%;
  border: 2px solid #ff820e;
  margin-left: 36%;
  font-size: 18%;
  padding: 10%;
  height: 5%;
  background-size: 10%;
  background: url("Icons/About%20Us.png") no-repeat center center;
}

.mainStudy {
  position: relative;
  padding-bottom: 14%;
  border: 2px solid #28ffae;
  width: 100%;
  background: url("images/foto2fiolet_02.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
}

#iconStudy {
  width: 20%;
  border: 2px solid #ff820e;
  margin-left: 18%;
  margin-top: 59%;
  margin-bottom: 38%;
  padding: 20%;
  height: 5%;
  background-size: 20%;
  background: url("Icons/Icon%20%20Study.png") no-repeat center center;
}

h3 {
  margin-top: 0%;
  font-size: 148%;
  font-family: Lato Hairline, sans-serif;
  color: white;
}

.main_text2 {
  border: 2px solid #FFEB72;
  padding-bottom: 5%;
}

/*# sourceMappingURL=sass.css.map */
