@import 'reset';
@import 'fonts';
//@import 'variables';
//@import 'mixins';
//@import 'layout';

*{
  box-sizing: border-box;
}

/* header class main :) */

.main {
  position: relative;
  padding-bottom: 13%;
  border: 2px solid #28ffae;
  width: 100%;
  background: url("images/foto1.jpg") no-repeat center center ;
  background-size: cover;
  text-align: center;

}
.grid_container {
  width:98%;
  max-width: 900px;
  border: 1px solid red;
  margin: 0 auto;
  //margin-right: 10%;
}
//.main_text {
//  max-width: 1260px;
//  width: 60%;
//  margin: 0 auto;
//  position: relative;
//  letter-spacing: 1px;
//  font-family: Existancelight,sans-serif;
//  color: #ffffff;
//}


$new_width: 8.3333%;

@for $i from 1 through 12 {
  .col-#{$i} {
    width: $new_width * $i;
  }
}

.row:before,
.row:after {
  display : block;
  clear: both;
  content: "";
}
[class*='col-']{
  float: left;
  border:1px solid red;
  height:100%;
  min-height: 100px;


}


/* napisy */

.main_text {
  border:2px solid #FFEB72;
  padding-bottom: 5%;
}
h1 {
  margin-top: 5%;
  font-size: 400%;
  color: rgb(255, 255, 255);
}
h2 {
  margin-top: 3%;
  font-size: 250%;
  font-family: Lato Hairline, sans-serif;
  color: rgb(255, 255, 255);

}
h4 {
  margin-top: 1%;
  font-size: 123%;
  font-family: Lato Hairline, sans-serif;
  color: rgb(255, 255, 255);

}

span {
  color: #9f449b;
}

/* span class = 'kara' fragment logo */
.kara {
  letter-spacing:1px;
}



/* czesc z ikonami  */

//#iconAbout {
//  //padding: 1%;
//  border: 5px solid green;
//  height: 50%;
//  margin: auto;
//  background: url("Icons/Icon%20About%20.png");
//  background-size: 95% auto;
//
//}

//.rowIcons {
//  //position: relative;
//  display: inline-block;
//  border: 20px solid #fb67ff;
//  background-color: #FFEB72;
//  background-size: 100% auto;
//  margin: 0 auto;
//  width: 100%;
//
//
//  padding-bottom: 60%;
//
//
//}
#iconAbout{
  margin-top: 105%;
  width: 100%;
  position: relative;
  border: 1px solid #ff98d9;
  padding: 50%;
  height: 100%;
  background-size: 100%auto;
  background-image: url("Icons/Icon%20About%20.png");
  //background-size: 25% auto;
}
#iconTeam {
  //position: absolute;
  margin-top: 105%;
  width: 100%;
  border: 2px solid blue;
  padding: 50%;
  height: 100%;
  background-size: 100%auto;
  background-image: url("Icons/Icon%20%20Team.png");
  //background-size: 35% auto;
}
#iconServices {
  //position: absolute;
  width: 100%;
  border: 2px solid green;
  padding: 50%;
  height: 100%;
  background-size: 100%auto;
  background-image: url("Icons/Icon%20Services%20.png");
  //background: url("Icons/Icon%20Services%20.png")no-repeat center center;

}
#iconPortfolio {
  //position: absolute;
  width: 100%;
  border: 2px solid #fdff25;
  padding: 50%;
  height: 100%;
  background-size: 100%auto;
  background-image: url("Icons/Icon%20%20Portfolio.png");

}
#iconArrow1 {
  //position: absolute;
  width: 10%;
  border: 2px solid #ff820e;
  margin: 0 auto;
  img {
    width: 100%;
  }

}
#iconBlog {
  //position: absolute;
  margin-top: 105%;
  width: 100%;
  border: 2px solid #1118ff;
  padding: 50%;
  height: 100%;
  background-size: 100%auto;
  background-image: url("Icons/Icon%20%20Blog.png");

}
#iconContact {
  //position: absolute;
  margin-top: 105%;
  width: 100%;
  border: 2px solid #ff0909;
  padding: 50%;
  height: 100%;
  background-size: 100%auto;
  background-image: url("Icons/Icon%20%20Contact.png");

}


/* --- Menu under header --- */

.Menu {
  border: 2px solid #ff98d9;
  padding-top: 3%;
  padding-bottom: 3%;
  background: #f9f9f9;
  //font-family: existencelight;
}
//

.homemenu {
  float: right;
  border: 1px solid black;
  padding-bottom: 2%;
  //padding-right: 0%;
  margin-right: 5%;
  padding-top: 1%;
  font-size: 128%;
  font-weight: bold;
  font-family: 'existencelight',sans-serif;
  color:#676767;
}
// p {
//    float: left;
//    margin-right: 5%;
//    margin-left: 5%;
//    //font-size: 45%;
//    //padding: 0%;
//    color: #676767;
//
//}
ul li {
  display: inline-block;
  //margin-left: 0%;
  color: #f9f9f9;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 95%;
}

#About {
  color: #9f449b;
}
#Home {
  color: #676767;
}
#Team {
  color: #676767;
}
#Services {
  color: #676767;
}
#Portfolio {
  color: #676767;
}
#Blog {
  color: #676767;
}
#Contact {
  color: #676767;
}

.Bhagaskara {
  float: left;
  color: #676767;
  font-size: 160%;
  //margin-left: 160%;
  font-family: 'existencelight',sans-serif;
  font-weight:bold;
  //border: 2px solid #ff820e;
}
.underheaderkara span {
  color: #9f449b;
  letter-spacing: 1px;
  font-size: 95%;
}



// czêœc z ikonami  pod Menu , z ikonami build with love //
.iconsLove{
  //position: relative;

}
.rowlove {
  display: inline-block;

}
#heart {
  width: 100%;
  position: relative;
  border: 2px solid #ff98d9;
  padding: 20%;
  height: 100%;
  background-size: 100% auto;

}
#clean {
  //position: absolute;
  float: right;
  //margin-top: -2%;
  width: 100%;
  border: 2px solid blue;
  padding: 20%;
  height: 100%;
  background-size: 100% auto;
}
#easy {
  //position: relative;
  float: right;
  //margin-top: -2%;
  width: 100%;
  border: 2px solid #ff98d9;
  padding: 20%;
  height: 100%;
  background-size: 100% auto;

}
#fully{
  //position: relative;
  float: right;
  //margin-top: -2%;
  width: 100%;
  border: 2px solid #099193;
  padding: 20%;
  height: 100%;
  background-size: 100% auto;

}
.iconsLove {
  position: relative;
  padding-bottom: 10%;
  border: 2px solid #28ffae;
  width: 100%;
  background: url("images/foto2.jpg") no-repeat center center ;
  background-size: cover;
  text-align: center;

}
.buildwlove {
  font-size: 140%;
  font-family: 'existencelight',sans-serif;
  color: #676767;
  font-weight: bold;
  padding-bottom: 17%;
}
.love{
  font-family: 'existencelight',sans-serif;
  color: #676767;
  padding-bottom: 5%;
  font-size: 75%;
}


//sekcja about Us //
//sekcja about Us //


.aboutUs {
  position: relative;
  padding-bottom: 10%;
  border: 2px solid #28ffae;
  width: 100%;
  background-color: #FFFFFF;
  background-size: cover;
  text-align: center;


}
.iconAbUs {
  //position: absolute;
  width: 23%;
  border: 2px solid #ff820e;
  margin-left: 26%;
  /* font-size: 15%; */
  padding: 7%;
  height: 5%
  //background: url("Icons/About%20Us.png") no-repeat center center;
}

.icondevices {

  //background: url("Icons/Devices.png") no-repeat center center;

  margin-left: -8%;
  padding: 7%;
  //height: 5%
  //margin-top: -2%;
  width: 100%;
  border: 2px solid #099193;

  height: 100%;
  //background-size: 100% auto;
}
.devices {
  background-size: 80% auto;
  max-width: 107%;


}
.aliquam {
  padding-top: 12%;
  padding-bottom: 10%;
  font-family: 'existencelight',sans-serif;
  font-size: 81%;
  text-align: left;
  line-height: 182%;
}
.learnM {
  border: 3px solid sandybrown;
  font-family: 'existencelight',sans-serif;
  //border-top: 15%;
  padding-top: 43%;
  padding-right: 60%
}
// sekcja study //

.buttonLearnMore{
  text-transform: none;
  border: 3px solid #ac8ef4;
  font-size: 120%;
  //margin: 5%;
  padding: 10%;
  background-color: #9f449b;
  color: #ffffff;
  border-radius:12%
}

.mainStudy {
  position: relative;
  padding-bottom:14%;
  border: 2px solid #28ffae;
  width: 100%;
  background: url("images/foto2fiolet_02.jpg") no-repeat center center ;
  background-size: cover;
  text-align: center;

}

#iconStudy {
  //position: absolute;
  width: 20%;
  border: 2px solid #ff820e;
  margin-left: 18%;
  margin-top: 59%;
  margin-bottom: 38%;

  padding: 20%;
  height: 5%;
  background-size: 20%;
  background: url("Icons/Icon%20%20Study.png") no-repeat center center;
}

h3{
  //margin-top: 0%;
  font-size: 148%;
  font-family: Lato Hairline, sans-serif;
  color: rgb(255, 255, 255);

}


.main_text2 {
  border:2px solid #FFEB72;
  padding-bottom: 5%;
}
